style.
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Second Express application
    body
        main
            h1 Second Express application
            form(method='POST' action='/')
                label(for='name') Give your name
                input(name='name')
                br
                input(type='submit')
                input(type='reset')
            br
            img(src='/img/pan_student.png', alt='student')
            table
                thead
                    tr
                        th Nazwisko
                        th Imię
                        if hasFacultyFlag
                            th Wydział
                tbody
                    each student in students
                        tr
                            td= student.lastName
                            td= student.firstName
                            if hasFacultyFlag
                              td= student.facultyAcronym                