:root{
	--text-color-initial: red;
	--text-color-final: green;
  }

@keyframes text_animation{
from {
	color: var(--text-color-initial);
}
to {
	color: var(--text-color-final);
}
}


.azure {
	background-color: #EFF;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  
 
.margin-b10{
	margin-bottom: 10px;
}


aside  {
	/* Specyfikacja wyglądu */
	padding: 0px 5px;
}

footer {
	/* Specyfikacja wyglądu */
	padding: 7px;
	font-size: 3vw;
}

header {
	/* Specyfikacja wyglądu */
	font-size: 6vw;
	padding-left: 7px;
}

header h1{
	text-align: center;
}

main { 
	/* Specyfikacja wyglądu */
	font-size: 4vw;
}

main blockquote{
	margin-left: 5px;
	margin-right: 5px;
}

nav {
	/* Specyfikacja wyglądu */
	margin-top: 0px;
	padding: 5px;
}

li {
	/* Specyfikacja wyglądu */
	font-size: 4vw;
}

h1 {
	animation-name: text_animation;
	animation-timing-function: ease;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation-direction: alternate;
}

h1, h2 {
	margin: 5px;
}

aside h1,h2 {
	font-size: 5vw;
}


@media screen and (min-width: 1000px) {
	.margin-10-25{
		margin: 10px 25px;
	}

	aside  {
		/* Specyfikacja wyglądu */
		margin: 0px 25px;
		width: 50%;
		padding: 0px 5px;
		float: right;
	}

	footer {
		/* Specyfikacja wyglądu */
		padding: 7px;
        font-size: 1.6vw;
		margin-right: 25px;
	}

	header {
		/* Specyfikacja wyglądu */
		font-size: 1.5vw;
		margin: 10px 25px;
		padding-left: 7px;
		height: min-content;
	}

	header h1{
		margin-left: 0;
	}

	main { 
		/* Specyfikacja wyglądu */
		padding-left: 7px;
		width: 30%;
		position: static;
        font-size: 1.2vw;
	}

	main blockquote{
		margin-left: 0;
		margin-right: 5px;
	}

	main h1{
		margin-left: 0;
	}

	nav {
		/* Specyfikacja wyglądu */
		display: inline-block;
		margin-top: 0px;
		margin-left: 25px;
		width: fit-content;
		padding: 5px;
	}

	li {
		/* Specyfikacja wyglądu */
		font-size: 1.5vw;
	}

	h1 {
		animation-name: text_animation;
		animation-timing-function: ease;
		animation-delay: 1s;
		animation-iteration-count: infinite;
		animation-duration: 1.5s;
		animation-direction: alternate;
	}

	h1, h2 {
		margin: 5px;
	}

	aside h1,h2 {
		font-size: 2vw;
	}
}

