/*W TYM PLIKU CZCIONKA JEST ZALEZNA OD VW, CZYLI VIEWPORT WIDTH*/


:root {
    --text-color-initial: green;
    --text-color-final: red;
}

@keyframes text_animation {
    from {
        color: var(--text-color-initial);
    }
    to {
        color: var(--text-color-final);
    }
}

h1 {
    animation-name: text_animation;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: alternate;
}

.page {
    background-color: white;
}

@media screen and (min-width: 500px) {
    .middle {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .left-side {
        margin-right: 25px;
        width: 45%;
    }

    .right-side {
        margin-left: auto;
        width: 45%;
    }

    .azure {
        background-color: #eff;
        border-style: solid;
        border-color: black;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        border-width: 2px;
        padding-left: 8px;
    }

    aside h1,
    h2 {
        font-size: 1.8vw; /* Zmieniono jednostki na vw */
        margin: 0;
    }

    aside ul{
        font-size: 1.4vw;
    }

    footer {
        height: 30px;
        display: flex;
        align-items: center;
        font-size: 1.4vw;
    }

    header {
        font-size: 1.4vw; /* Zmieniono jednostki na vw */
        justify-content: left;
        align-items: center;
        margin-bottom: 10px;
    }

    main {
        font-size: 1.4vw; /* Zmieniono jednostki na vw */
        width: fit-content;
        position: static;
    }

    nav {
        margin-bottom: 10px;
        width: fit-content;
        padding: 5px;
    }

    nav ul {
        /* Specyfikacja wyglądu */
    }

    nav li {
        font-size: 1.5vw; /* Zmieniono jednostki na vw */
    }
}


/* Styl dla mniejszych urządzeń */
@media screen and (max-width: 499px) {
    

    .page {
        background-color: white;
        display: block;
    }

    .azure {
        background-color: #eff;
        border-style: solid;
        border-color: black;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        border-width: 2px;
        padding-left: 8px;
    }

    aside {
        margin-top: 10px;
    }

    aside h1,
    h2 {
        font-size: 3vw; /* Zmieniono jednostki na vw */
        margin: 0;
    }

    aside ul{
        font-size: 1.4vw;
    }

    footer {
        height: 30px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 1.4vw;
    }

    header {
        font-size: 2.5vw; /* Zmieniono jednostki na vw */
        justify-content: left;
        align-items: center;
        margin-bottom: 10px;
    }

    main {
        font-size: 2.5vw; /* Zmieniono jednostki na vw */
        width: 100%; 
        position: static;
    }

    nav {
        margin-bottom: 10px;
        width: 100%;
        padding: 5px;
    }

    nav ul {
        /* Specyfikacja wyglądu na ekrany o mniejszej szerokości */
    }

    nav li {
        font-size: 2vw; /* Zmieniono jednostki na vw */
    }
}
